*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: #111827;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: right;
    align-items: center;
    gap: 20px;
}
nav{
    margin: 20px;
}
img[alt="menu"]{
    width: 20px;
    display: none;
}
.home-option{
    padding: 5px 10px;
    background: rgb(100, 100, 224);
    border-radius: 15px;
}
.intro{
    max-width: 100vw; 
    margin: 20px;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    gap: 30px;
}
.line h2{
    font-size: 35px;
    color: rgb(197, 197, 89);
}
.line h1{
    font-size: 60px;
}
.img1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}
.line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.left{
    flex-direction: column;
}
.projects{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
}
.horizontal-divider{
    height: 10px;
    width: 140px;
    background-color: blue;
    border-radius: 18px;
    margin-bottom: 20px;
}
.projects-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.links{
    align-items: center;
    justify-content: center;
    margin: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.projects div h1{
    font-size: 40px;
}
.footer div h1{
    font-size: 40px;
}
.horizontal-divider-footer{
    width: 200px;
    background-color: blue;
    border-radius: 18px;
    height: 10px;
}
@media screen and (max-width: 576px){
    .projects-list{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
        column-gap: 15px; 
    }
    nav ul{
        display: none;
    }
    img[alt="menu"]{
        display: block;
    }
    .intro{
        display: flex;
        flex-direction: column;
    }
    .line h1{
        font-size: 40px;
    }
    .line h2{
        font-size: 25px;
        text-align: center;
    }
    .h3{
        font-size: 25px;
    }
    img[alt="pc-image"]{
        width: 50vw;
        height: 50vw;
    }
    .projects div h1{
        font-size: 30px;
    }
    .footer div h1{
        font-size: 30px;
    }
    .horizontal-divider-footer{
        width: 150px;
        height: 5px;
    }
    .horizontal-divider{
        height: 5px;
        width: 120px;
    }
    .projects-list img{
        width: 40vw;
        height: 40vw;
    }
    .img1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 20px;
    }

}



    
